<!doctype html >
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="_token" content="{$__csrf}" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>{$web_title}-会员中心-{$web_name}</title>
  <js file="js/jquery-2.1.0.js" />
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/sub.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <js file="js/bootstrap.min.js" />
<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('.ie6png');
</script>
<![endif]-->
<script type="text/javascript">
  $(function() {
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="_token"]').attr('content')
      }
    });
  });
</script>
</head>

<body>
  <div class="juti_content">
   <div class="juti_content_top"></div><!--juti_content_top结束-->
   <div class="juti_content_main">
     <div class="left">
       <div class="left_logo">
        <img src="images/left_inner_vip.gif">
      </div><!--left_logo结束-->
      <div class="left_top1">
        <ul>
          <li><a href="{$U('User/Vip')}">开通会员</a></li>
          <li><a href="{$U('User/Buy')}">付费记录</a></li>
          <li><a href="{$U('User/Index')}">我的资料</a></li>
          <li><a href="{$U('User/Server')}">服务条款</a></li>
          <li><a href="{$U('User/About')}">关于我们</a></li>
          <!-- <li><a href="#">积分</a></li> -->
        </ul>
      </div><!--left_top结束-->
      <div class="left_img">
        <ul>
          <!-- <li><a href="#"><img src="images/free_experience.png"></a></li> -->
          <li><a href="{$U('Msg/Index')}"><img src="images/opinion_feedback.png"></a></li>
        </ul>
      </div><!--juti_content_left_img结束-->
    </div><!--left结束-->
    <div class="right">
     <div class="right_top">
       <div class="right_logo1">
         <img src="images/right_inner_vip.gif">
       </div><!--right_logo结束-->

       <div class="now_position1">
         您当前所在的位置：<a href="{$U('Home/Index')}">首页</a> 》<a href="{$U('User/Index')}">会员中心</a> 》<a href="{$U('User/Vip')}">充值会员</a>
       </div><!--now_position结束-->
     </div><!--right_top结束-->
     <div class="right_main">
       <div id="right_main_tilte">
         <ul>
           <li><img src="images/inner_vip_tilte_o1.gif"></li>
           <li><img src="images/inner_vip_tilte_o2.gif"></li>
           <li><img src="images/inner_vip_tilte_o3.gif"></li>
         </ul>
       </div><!--right_main_tilte结束-->
       <div class="clear"></div>
       <div class="inner_zf">
         <table width="668" height="576" border="0" cellpadding="00" cellspacing="0">
          <tr>
            <th height="35" colspan="2" align="left" scope="row">亲爱的{$username}</th>
          </tr>
          <tr>
            <th height="35" colspan="2" align="left" scope="row">您好！</th>
          </tr>
          <tr>
            <td height="34" colspan="2" align="left" valign="top" scope="row">感谢您的信赖！我们为您提供了多种咨询方式以供选择：您可以通过拨打咨询热线进行电话咨询</td>
          </tr>
          <tr>
            <th width="150" height="35" scope="row" class="inner_zf_style1">订单时间</th>
            <td width="509" align="left" scope="row" class="inner_zf_style2 inner_zf_style3">{$time}</td>
          </tr>
          <tr>
            <th width="150" height="35" scope="row">订单商品</th>
            <td align="left" scope="row" class="inner_zf_style3">{$car}</td>
          </tr>
          <tr>
            <th width="150" height="35" scope="row" class="inner_zf_style1">订单ID</th>
            <td align="left" scope="row" class="inner_zf_style2 inner_zf_style3">{$orders}</td>
          </tr>
          <tr>
            <th width="150" height="35" scope="row">订单状态</th>
            <td align="left" scope="row" class="inner_zf_style3">待付款</td>
          </tr>
          <tr>
            <th width="150" height="35" scope="row" class="inner_zf_style1">支付金额</th>
            <td align="left" scope="row" class="inner_zf_style2 inner_zf_style4">&#165;{$money}</td>
          </tr>
          <tr>
            <th width="150" height="35" scope="row">此次积分</th>
            <td align="left" scope="row" class="inner_zf_style4">{$money}</td>
          </tr>
          <form id="defaultForm" name="defaultForm" action="{$U('User/BuyVip')}" method="post" name="edit" novalidate="novalidate" class="form-horizontal" target="_blank">
            <input type="hidden" name="__csrf" value="{$__csrf}">
            <tr>
              <th height="167" colspan="2" valign="top" scope="row" >
               <ul class="zf_xz">
                 <li>
                   <input type="radio" value="1" id="1" name="aplay" style="display:none"> <img id="aa" class="img" src="images/inner_zf_01.jpg" onclick="myFun(this.id)">
                 </li>
                 <li>
                   <input type="radio" value="2" id="2" name="aplay" style="display:none"> <img id="bb" class="img" src="images/inner_zf_02.jpg" onclick="myFun(this.id)">
                 </li>
                 <li>
                   <input type="radio" value="3" id="3" name="aplay" style="display:none"> <img id="cc" class="img" src="images/inner_zf_03.jpg" onclick="myFun(this.id)">
                 </li>
               </ul>
             </th>
           </tr>
           <tr>
            <td colspan="2" align="center" scope="row">
              <p><a onclick="CheckForm()" class="btn btn-link"><img src="images/inner_vip_botton.gif"></a></p>
            </td>
          </tr>
        </form>
      </table>
    </div><!--inner_zf-->
  </div><!--right_main结束-->
</div><!--right结束-->
</div><!--juti_content_main结束-->
<div id="payModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="payModalLabel">
  <div class="modal-dialog modal-sm" role="document" style="margin-top: 15%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="payModalLabel">扫码支付</h4>
      </div>
      <div class="modal-body">
        <div class="center-block" id='showhtml'>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="margin-top: 15%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">支付状态</h4>
      </div>
      <div class="modal-body">
        <div class="btn-group btn-group-justified">
          <div class="btn-group" role="group">
            <a href="{$U('User/Buy')}" class="btn btn-success btn-lg">支付成功</a>
          </div>
          <div class="btn-group" role="group">
            <a class="btn btn-warning btn-lg" onclick="CheckForm()">支付失败</a>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<div class="juti_content_footer">
  <script type="text/javascript">
    function myFun(sId) {
      var oImg = $('.img');
      for (var i = 0; i < oImg.length; i++) {
        if (oImg[i].id == sId) {
          oImg[i].previousSibling.previousSibling.checked = true;
          oImg[i].style.cssText="border-color:#ccc;border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted\\9;-webkit-box-shadow:0 0 8px rgba(82,168,236,0.6);box-shadow:0 0 8px rgba(82,168,236,0.6);";
        } else {
          oImg[i].style.cssText = '';
        }
      }
    }
    function showhtml (text) {
      var str='<a href="'+decodeURIComponent(text)+'" target="_blank"><img src="{$U('Safe/Qr')}&qr='+text+'" style="width: 100%;"></a>';
      $('#showhtml').html(str);
    }
    function CheckForm() {
      var form=document.defaultForm;
      if (form.aplay.value=='') {
        alert("请选择支付方式!");
        return false;
      }else if(form.aplay.value=='3'){
        $("#showhtml").html('<h4>请稍等。。。</h4>');
        $('#payModal').modal('show');
        $.ajax({
          type: "POST",
          dataType: "json",
          url: '{$U('User/BuyVip')}',
          data: 'aplay=3',
          success: function (data) {
           showhtml(data.url);
         },
         error: function(data) {
          alert("error");
        }
      });
        return false;
      }else{
        form.submit();
        $('#myModal').modal('show');
        return true;
      }
    }
  </script>
</div><!--juti_content_footer结束-->
</div><!--juti_content结束-->
</body>
</html>