<extend file="../layout/layout.html" />
<selection name="title">会员管理</selection>
<selection name="header"></selection>
<selection name="body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="panel-group" role="tablist">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="collapseListGroupHeading1">
							<h4 class="panel-title">
								<a class="" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
									Collapsible list group
								</a>
							</h4>
						</div>
						<div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
							<ul class="list-group">
								<li class="list-group-item">Bootply</li>
								<li class="list-group-item">One itmus ac facilin</li>
								<li class="list-group-item">Second eros</li>
							</ul>
							<div class="panel-footer">Footer</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<ol class="breadcrumb">
						<li><a href="#">会员列表</a></li>
						<li><a href="#">Library</a></li>
						<li class="active">Data</li>
					</ol>
					<div class="panel-body">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="col-md-1">ID</th>
									<th>状态</th>
									<th>用户昵称</th>
									<th>邮箱地址</th>
									<th>手机号码</th>
									<th>注册日期</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<loop name="data" as="item">
									<tr>
										<td scope="row">{$item.id}</td>
										<td><eq name="item.islogin" value="0">正常</else>禁登</eq></td>
										<td>{$item.username}</td>
										<td><nempty name="item.email">{$item.email} <eq name="item.isemail" value="1">已认证</else>未认证</eq></else>未填写</nempty></td>
										<td><nempty name="item.mobile">{$item.mobile} <eq name="item.ismobile" value="1">已认证</else>未认证</eq></else>未填写</nempty></td>
										<td>{$item.regtime:F.formatdate="yyyy-MM-dd HH:mm:ss"}</td>
										<td>
											<form action="{$U('Index/Edit')}" method="post" class="form-inline">
												<input type="hidden" name="__csrf" value="{$__csrf}">
												<input type="hidden"name="id" value="{$item.id}">
												<input type="submit" class="btn btn-success btn-xs" value="编辑">
												<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#exampleModal"  onclick="Del('{$item.id}');">删除</button>
											</form>
										</td>
									</tr>
								</loop>
							</tbody>
						</table>
						<page for="data" />
					</div>
				</div>
			</div>
		</div>
	</div>
</selection>
<selection name="foot">
	<div class="Del"></div>
	<script type="text/javascript">
		function Del(id){
			var str='<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">' + '<div class="modal-dialog" role="document">' + '<div class="modal-content">' + '<div class="modal-header">' + '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>' + '<h4 class="modal-title" id="exampleModalLabel">提示信息</h4>' + '</div>' + '<form action="{$U('Index/Del')}" method="post">' + '<input type="hidden" name="__csrf" value="{$__csrf}">' + '<div class="modal-body">' + '<input type="hidden"name="id" value="'+id+'">' + '<div class="alert alert-danger" role="alert">删除该用户信息且不可恢复，确认继续？？</div>' + '</div>' + '<div class="modal-footer">' + '<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">关闭窗口</button>' + '<button type="submit" class="btn btn-danger btn-sm">确认删除</button>' + '</div>' + '</form>' + '</div>' + '</div>' + '</div>';
			$('.Del').html(str);
		}
	</script>
</selection>