<extend file="../layout/layout.html" />
<selection name="title">子模板的，标题</selection>
<selection name="top">
    <header class="mui-bar mui-bar-nav">
        <a id="offCanvasShow" href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
        <h1 class="mui-title">天行者户外</h1>
    </header>
</selection>
<selection name="body">
    <!-- 主界面具体展示内容 -->
    <!--slider-->
    <div id="slider" class="mui-slider">
        <div class="mui-slider-group">
            <div class="mui-slider-item">
                <a href="index.htm" tppabs="http://m.skywalk-er.com/ad/flash/id/2">
                    <img src="Uploads/images/20150529/m_55683276825ed.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150529/m_55683276825ed.jpg">
                </a>
                <p class="mui-slider-title">
                    彩云之南
                </p>
            </div>
            <div class="mui-slider-item">
                <a href="index.htm" tppabs="http://m.skywalk-er.com/ad/flash/id/3">
                    <img src="Uploads/images/20150529/m_556831ef56474.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150529/m_556831ef56474.jpg">
                </a>
                <p class="mui-slider-title">
                    走在西藏
                </p>
            </div>
        </div>
        <div class="mui-slider-indicator mui-text-right">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator "></div>
        </div>
    </div>
    <!-- end slider -->
    <!--icon menu-->
    <ul class="mui-table-view mui-grid-view mui-grid-9 iconfont-list">
        <li class="mui-table-view-cell mui-media mui-col-xs-3">
            <a href="products/index/cid/1.html" tppabs="http://m.skywalk-er.com/products/index/cid/1.html">
                <span class="mui-icon iconfont icon-xianluxuanxiangqiatejia"></span>
                <div class="mui-media-body">特价啦</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3">
            <a href="products/index/cid/4.html" tppabs="http://m.skywalk-er.com/products/index/cid/4.html">
                <span class="mui-icon iconfont icon-xianluxuanxiangqiaziyouxing"></span>
                <div class="mui-media-body">省内游</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3">
            <a href="products/index/cid/3.html" tppabs="http://m.skywalk-er.com/products/index/cid/3.html">
                <span class="mui-icon iconfont icon-xianluxuanxiangqiaguonei"></span>
                <div class="mui-media-body">国内游</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3">
            <a href="products/index/cid/2.html" tppabs="http://m.skywalk-er.com/products/index/cid/2.html">
                <span class="mui-icon iconfont icon-xianluxuanxiangqiaguoji"></span>
                <div class="mui-media-body">国际游</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3">
            <a href="air.html" tppabs="http://m.skywalk-er.com/air.html">
                <span class="mui-icon iconfont icon-jipiao"></span>
                <div class="mui-media-body">机票</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3">
            <a href="hotel.html" tppabs="http://m.skywalk-er.com/hotel.html">
                <span class="mui-icon iconfont icon-jiudian"></span>
                <div class="mui-media-body">酒店</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3">
            <a href="sign.html" tppabs="http://m.skywalk-er.com/sign.html">
                <span class="mui-icon iconfont icon-xitongtixing"></span>
                <div class="mui-media-body">签证</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3">
            <a href="community.html" tppabs="http://m.skywalk-er.com/community.html">
                <span class="mui-icon iconfont icon-gongnengyeshequhaoyouhudong"></span>
                <div class="mui-media-body">社区</div>
            </a>
        </li>
    </ul>
    <!--end icon menu-->
    <h5 class="mui-content-padded">特价进行时</h5>
    <!--list-->
    <ul class="mui-table-view mui-grid-view"></ul>
    <!--end list-->
    <h5 class="mui-content-padded">优选路线</h5>
    <!--media list-->
    <ul class="mui-table-view list">
        <li class="mui-table-view-cell mui-media">
            <a href="products/detail/id/13.htm" tppabs="http://m.skywalk-er.com/products/detail/id/13">
                <img class="mui-media-object mui-pull-left" src="Uploads/images/20150331/s_551a3855235dc.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150331/s_551a3855235dc.jpg">
                <div class="mui-media-body">
                    <b>“大美青海 梦幻敦煌 体验丝路快车”双飞五日游</b>
                    <p class='mui-ellipsis'>“大美青海 梦幻敦煌 体验丝路快车”双飞五日游</p>
                    <p class="info"><span class="mui-badge mui-badge-primary">自由行</span>5天游<span class="price">￥<b>4380</b>元</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="products/detail/id/15.htm" tppabs="http://m.skywalk-er.com/products/detail/id/15">
                <img class="mui-media-object mui-pull-left" src="Uploads/images/20150331/s_551a37ee57f79.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150331/s_551a37ee57f79.jpg">
                <div class="mui-media-body">
                    <b>“杏色满园” 新疆天池、吐鲁番、霍尔果斯口岸、伊犁赛里木湖、那拉提草原、吐尔根杏花双飞六日摄影之旅</b>
                    <p class='mui-ellipsis'>“杏色满园” 新疆天池、吐鲁番、霍尔果斯口岸、伊犁赛里木湖、那拉提草原、吐尔根杏花双飞六日摄影之旅</p>
                    <p class="info"><span class="mui-badge mui-badge-primary">自由行</span>6天游<span class="price">￥<b>4980</b>元</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="products/detail/id/16.htm" tppabs="http://m.skywalk-er.com/products/detail/id/16">
                <img class="mui-media-object mui-pull-left" src="Uploads/images/20150331/s_551a375d61c97.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150331/s_551a375d61c97.jpg">
                <div class="mui-media-body">
                    <b>巴马长寿之乡三天精华游</b>
                    <p class='mui-ellipsis'>巴马长寿之乡三天精华游</p>
                    <p class="info"><span class="mui-badge mui-badge-primary">自由行</span>3天游<span class="price">￥<b>728</b>元</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="products/detail/id/18.htm" tppabs="http://m.skywalk-er.com/products/detail/id/18">
                <img class="mui-media-object mui-pull-left" src="Uploads/images/20150319/s_550a29e40246e.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150319/s_550a29e40246e.jpg">
                <div class="mui-media-body">
                    <b>成都稻城亚丁4飞5天团</b>
                    <p class='mui-ellipsis'>成都稻城亚丁四飞五团</p>
                    <p class="info"><span class="mui-badge mui-badge-primary">自由行</span>5天游<span class="price">￥<b>4480</b>元</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="products/detail/id/19.htm" tppabs="http://m.skywalk-er.com/products/detail/id/19">
                <img class="mui-media-object mui-pull-left" src="Uploads/images/20150331/s_551a369da5701.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150331/s_551a369da5701.jpg">
                <div class="mui-media-body">
                    <b>大连、旅顺、烟台、蓬莱、威海、青岛双飞五日团</b>
                    <p class='mui-ellipsis'>大连、旅顺、烟台、蓬莱、威海、青岛双飞五日团</p>
                    <p class="info"><span class="mui-badge mui-badge-primary">自由行</span>5天游<span class="price">￥<b>1999</b>元</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="products/detail/id/22.htm" tppabs="http://m.skywalk-er.com/products/detail/id/22">
                <img class="mui-media-object mui-pull-left" src="Uploads/images/20150331/s_551a2eb6d7711.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150331/s_551a2eb6d7711.jpg">
                <div class="mui-media-body">
                    <b>广西贺州温泉、姑婆山、玉石林、黄姚古镇、瑶族篝火晚会动车三天游</b>
                    <p class='mui-ellipsis'>广西贺州温泉、姑婆山、玉石林、黄姚古镇、瑶族篝火晚会动车三天游</p>
                    <p class="info"><span class="mui-badge mui-badge-primary">自由行</span>3天游<span class="price">￥<b>1058</b>元</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="products/detail/id/173.htm" tppabs="http://m.skywalk-er.com/products/detail/id/173">
                <img class="mui-media-object mui-pull-left" src="Uploads/images/20150423/s_55386439a2dd5.jpg" tppabs="http://m.skywalk-er.com/Uploads/images/20150423/s_55386439a2dd5.jpg">
                <div class="mui-media-body">
                    <b>【从化】从化玫瑰园、仙沐园温泉、水陆绿道单车两日游</b>
                    <p class='mui-ellipsis'>【从化】从化玫瑰园、仙沐园温泉、水陆绿道单车两日游</p>
                    <p class="info"><span class="mui-badge mui-badge-primary">自由行</span>2天游<span class="price">￥<b>458</b>元</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
    <!--end media list-->
</selection>