<extend file="../layout/layout.html" />
<selection name="title">会员管理</selection>
<selection name="header"></selection>
<selection name="body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="panel-group" role="tablist">
					<div class="panel panel-default">
						<a class="panel-heading btn btn-default btn-block" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
							用户管理
						</a>
						<div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
							<ul class="nav nav-pills nav-stacked">
								<li role="presentation">
									<a href="{$U('User/Index')}" class="btn btn-link btn-block">全部用户</a>
								</li>
								<li role="presentation">
									<a href="{$U('User/Create')}" class="btn btn-link btn-block">添加用户</a>
								</li>
								<li role="presentation" class="active">
									<a href="{$U('User/VipLog')}" class="btn btn-link btn-block">充值记录</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<ol class="breadcrumb">
						<li><a href="{$U('User/Index')}">会员列表</a></li>
						<li class="active">充值记录</li>
					</ol>
					<div class="panel-body">
						<nempty name="error">
							<div class="alert alert-warning alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
								<strong>出现错误：</strong>{$error}
							</div>
						</nempty>
						<div class="table-responsive">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>用户ID</th>
										<th>用户昵称</th>
										<th>订单编号</th>
										<th>充值金额</th>
										<th>充值日期</th>
										<th>充值方式</th>
										<th>充值状态</th>
										<th>订单状态</th>
									</tr>
								</thead>
								<tbody>
									<loop name="data" value="item">
										<tr>
											<td scope="row">{$item.uid}</td>
											<td>{$item.username}</td>
											<td>{$item.order}</td>
											<td>&#165;{$item.money}</td>
											<td>{$item.buytime:F.untimespan}</td>
											<td>{$item.rebuys}</td>
											<td><eq name="item.state" value="1">充值</else>续费</eq></td>
											<td><eq name="item.isbuy" value="2">已付费</else>未付费</eq></td>
										</tr>
									</loop>
								</tbody>
							</table>
						</div>
						<page for="data" />
					</div>
				</div>
			</div>
		</div>
	</div>
</selection>
<selection name="foot">
</selection>