<extend file="../layout/layout.html" />
<selection name="title">内容管理</selection>
<selection name="header"></selection>
<selection name="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="panel-group" role="tablist">
          <div class="panel panel-default">
            <a class="panel-heading btn btn-default btn-block" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
              内容管理
            </a>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                  <a href="{$U('Article/Index')}" class="btn btn-link btn-block">全部内容</a>
                </li>
                <li role="presentation">
                  <a href="{$U('Article/Class')}" class="btn btn-link btn-block">分类查看</a>
                </li>
                <li role="presentation">
                  <a href="{$U('Article/Create')}" class="btn btn-link btn-block">添加内容</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <ol class="breadcrumb">
            <li><a href="{$U('Article/Index')}">内容列表</a></li>
            <li class="active">内容编辑</li>
          </ol>
          <div class="panel-body">
            <nempty name="error">
              <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>出现错误：</strong>{$error}
              </div>
            </nempty>
            <loop name="data" value="item">
              <form class="form-horizontal" action="{$U('Article/Update')}" method="post">
                <input type="hidden" name="__csrf" value="{$__csrf}">
                <input type="hidden" name="id" value="{$item.id}">
                <div class="form-group">
                  <label for="title" class="col-sm-2 control-label">标题</label>
                  <div class="col-sm-10">
                    <input name="title" type="text" class="form-control" id="title" placeholder="内容标题" value="{$item.title}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="pic" class="col-sm-2 control-label">缩略图</label>
                  <div class="col-sm-3">
                    <input name="pic" type="text" class="form-control" id="pic" placeholder="缩略图" value="{$item.pic}">
                  </div>
                  <include file="../Upload/Thumb.html" />
                </div>
                <div class="form-group">
                  <label for="info" class="col-sm-2 control-label">所属栏目</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="info">
                      <option value="{$item.rid},{$item.cid}">默认栏目</option>
                      <for name="item.subitems" key="i" value="subitems"><neq name="subitems.cid" value="{$item.cid}"><option value="{$subitems.rid},{$subitems.cid}">{$subitems.classname}</option></neq></for>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
                  <div class="col-sm-10">
                    <script id="container" name="content" type="text/plain">{$item.content:F.decodeHtml}</script>
                    <js src="ueditor/ueditor.config.js" />
                    <js src="ueditor/ueditor.all.min.js" />
                    <js src="ueditor/lang/zh-cn/zh-cn.js" />
                    <script type="text/javascript">
                      var ue = UE.getEditor('container');
                    </script>
                  </div>
                </div>
                <div class="form-group">
                  <label for="file" class="col-sm-2 control-label">内容附件</label>
                  <div class="col-sm-3">
                    <input name="File" type="text" class="form-control" id="file" placeholder="附件地址" value="{$item.file}">
                  </div>
                  <include file="../Upload/File.html" />
                </div>
                <div class="form-group has-success">
                  <label for="inputIsvip3" class="col-sm-2 control-label">VIP内容</label>
                  <div class="col-sm-10 form-control-static">
                    <input type="checkbox" name="isvip" value="1" data-toggle="toggle" data-size="mini" data-on="是" data-off="否" data-onstyle="success" data-offstyle="danger" <eq name="item.isvip" value="1">checked="checkend"</eq>> 是否vip内容
                  </div>
                </div>
                <div class="form-group has-success">
                  <label for="inputIsdisplay3" class="col-sm-2 control-label">显示内容</label>
                  <div class="col-sm-10 form-control-static">
                    <input type="checkbox" name="isdisplay" value="1" data-toggle="toggle" data-size="mini" data-on="是" data-off="否" data-onstyle="success" data-offstyle="danger" <eq name="item.isdisplay" value="1">checked="checkend"</eq>> 是否显示
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">提交更新</button>
                  </div>
                </div>
              </form>
            </loop>
          </div>
        </div>
      </div>
    </div>
  </div>
</selection>
<selection name="foot">
</selection>