<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><selection name="title">标题</selection></title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<css file="Public/css/bootstrap.min.css" />
	<!-- <css file="Public/css/bootstrap-theme.min.css" /> -->
	<css file="Public/css/bootstrap-datetimepicker.min.css" />
	<css file="Public/css/bootstrap-toggle.min.css" />
	<css file="Public/css/select2.min.css" />
	<js file="Public/js/jquery-2.1.0.js" />
	<js file="Public/js/bootstrap.min.js" />
	<js file="Public/js/bootstrap-datetimepicker.js" />
	<js file="Public/js/locales/bootstrap-datetimepicker.zh-CN.js" />
	<js file="Public/js/bootstrap-toggle.min.js" />
	<js file="Public/js/select2.min.js" />
	<script src="WapPublic/js/mui.min.js"></script>
	<link href="WapPublic/css/mui.min.css" rel="stylesheet" />
	<script type="text/javascript" charset="utf-8">
		mui.init();
	</script>
</head>
<body>
	<selection name="header">头部</selection>
	<selection name="body">主体</selection>
	<selection name="foot">底部</selection>
</body>
</html>